@tailwind base;
@tailwind components;
@tailwind utilities;
/* back icon home screen */
/* .circle
{
  border-radius: 50%;
  background-color: #f00; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-text{
  justify-content: center;
  align-items: center;
  color: white;
  font-size:18px;
}   */

/* mobile and web view hidden screen */

@media (max-width: 767px) {
  .mobile-hidden {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .web-view-only {
    display: none;
  }
}
@media (max-width: 768px) {
  .hidden-mobile {
    display: none;
  }
}
/* dropdown  for web view */
.dropdown:hover .dropdown-menu {
  display: block;
}
/* backicon for food items */
.circcle {
  border-radius: 50%;
  background-color: #4caf50;
  display: flex;
  justify-content: center;
  align-items: center;
}
.xl-screen {
  height: 40px;
  width: 40px;
  left: -14px;
  position: relative;
}
.xl-screeen {
  height: 24px;
  width: 24px;
}
@media (max-width: 360px) {
  .circcle {
    height: 10px;
    width: 16px;
  }
}
.custom-margin {
  margin-left: -10px !important;
  position: relative;
}

/* scroll bar for food items screen */

.scroll-container-food {
  max-height: 90vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.scroll-container-food::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.scroll-container-food::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.scroll-container-food {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
.scroll-container-food::-moz-scrollbar {
  width: 6px;
  background-color: transparent;
}
.scroll-container-food::-moz-scrollbar-thumb {
  background-color: transparent;
}
body {
  font-family: sans-serif;
}
/* .modelheight{
	height: 120vh;
} */

/* .label-before {
	line-height: 20px;
	font-size: 12px;
	top: -10px;
	background: #fff;
	padding: 0 6px;
	left: 9px;
} */
/* 
.container {
	width: 80%;
	margin: 30px 10%;
} */

/* .field {
  position: relative;
  margin-bottom: 15px;
  label::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 40px;
    font-size: 14px;
    color: #777;
    transition: 300ms all;
  }
  input {
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 3px;
    &:focus {
      outline: 0;
      border-color: blue;
    }
    &:valid + label::before {
      @extend .label-before;
      content: attr(data-title);
    }
    &:focus + label::before {
      @extend .label-before;
      color: blue;
    }
  }
} */
/* 
.iconn {
  width: 10vw;
  height: 4vh;
  margin-left: 9px;
  top: 80px;
}

.icoon {
  left: 156px;
	top: 80px;
  width: 12vw;
  height: 6vh;
} */
/* 
@media (max-width: 480px) {
  .iconn {
    width: 10px;
    height: 6px;
    margin-left: 8px;
  }

  .icoon {
    margin-left: 6px;
    width: 18px;
    height: 16px;
  }
} */
